body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #333;
}


.backface-visibility-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.tile {
    color: #000000;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
flipper {
    float: left;
    width: 100%;
    height: 100%;
    /*margin-right: 15px;*/

    display: block;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;

}
flipper span {
    color: white;
}
flipper > div.flipper {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
flipper > div.flipper .front,
flipper > div.flipper .back {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform ease 500ms;
    -moz-transition: -webkit-transform ease 500ms;
    -ms-transition: -webkit-transform ease 500ms;
    -o-transition: -webkit-transform ease 500ms;
    transition: -webkit-transform ease 500ms;
    -webkit-transition: transform ease 500ms;
    -moz-transition: transform ease 500ms;
    -ms-transition: transform ease 500ms;
    -o-transition: transform ease 500ms;
    transition: transform ease 500ms;
}
flipper > div.flipper .front {
    z-index: 2;
    background: #ffffff;

    /* front tile styles go here! */
}
flipper > div.flipper .back {
    background: #F9F7F7;

    /* back tile styles go here! */
}
flipper[horizontal] .front {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
flipper[horizontal] .back {
    transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}
flipper[horizontal] div.flipper.flipped .front {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
flipper[horizontal] div.flipper.flipped .back {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
flipper[vertical] .front {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}
flipper[vertical] .back {
    transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
}
flipper[vertical] div.flipper.flipped .front {
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}
flipper[vertical] div.flipper.flipped .back {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}



/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #444;
}

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
    color: #444;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
    color: #1c0cf5;
}

a:hover, .hand, [jh-sort-by] {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}




.list header {
    text-align:center;
    margin-bottom:30px !important;
}


.divider {
    border-top-width: 10px !important;
    border-top-color: black !important;
    width: 74% !important;
    float: left !important;
    position: absolute !important;
    margin-top: 45px !important;
    z-index: 3 !important;
}




.link-div {
    position: absolute !important;
    margin-top: 500px !important;
    margin-left: 10px !important;
}



/* Begin code for Kanban */

/*.kanban-container-1 {width: 20%; float:left;clear: right;margin:10px; border-radius: 5px;*/
    /*border-right-width: 9px !important;*/
    /*border-right-color: black !important;*/
    /*border-right-style: solid;*/
    /*position: initial;*/
    /*height: 600px;*/
    /*padding-right: 40px;*/
    /*position: absolute !important;*/
    /*width: 370px !important;*/


/*}*/




/*.kanban-container-1 ul {*/
    /*width: 350px;*/
/*}*/

/*.kanban-container-1 ul li {*/

    /*height: 250px !important;*/
/*}*/


/*.kanban-container-1 .list {*/

    /*width: 315px;*/

/*}*/

/*.kanban-container-1 ul li .card {*/
    /*width: 250px !important;*/
    /*height: 195px !important;*/
/*}*/



/*.kanban-container-2 {width: 20%; float:left;clear: right;margin:10px; border-radius: 5px;*/
    /*border-right-width: 9px !important;*/
    /*border-right-color: black !important;*/
    /*border-right-style: solid;*/
    /*position: initial;*/
    /*height: 600px;*/
    /*padding-right: 40px;*/
    /*position: absolute !important;*/
    /*left: 400px !important;*/
    /*width: 600px !important;*/

/*}*/

/*.kanban-container-2 .list {*/

    /*width: 550px !important;*/

/*}*/

/*.kanban-container-2 ul {*/

    /*width:525px !important;*/

/*}*/

/*.kanban-container-2 li {*/

    /*width: 500px !important;*/
    /*height: 350px !important;*/
/*}*/


/*.kanban-container-2 ul li .card {*/
    /*width: 500px !important;*/
    /*height: 350px !important;*/
/*}*/



/* Begin card styling */




/*.ui {*/
    /*height: 100vh;*/
    /*display: grid;*/
    /*grid-template-rows: 40px 50px 1fr;*/
    /*background-color: #0079bf;*/
    /*color: #eee;*/
/*}*/


/*.lists {*/
    /*display: flex;*/
    /*overflow-x: auto;*/
/*}*/
/*.lists > * {*/
    /*flex: 0 0 auto;*/
    /*margin-left: 10px;*/
/*}*/
/*.lists::after {*/
    /*content: '';*/
    /*flex: 0 0 10px;*/
/*}*/

/*.list {*/
    /*width: 300px;*/
    /*height: calc(100% - 10px - 17px);*/
/*}*/
/*.list > * {*/
    /*background-color: white;*/
    /*color: #333;*/
    /*padding: 0 10px;*/
/*}*/
/*.list header {*/
    /*line-height: 36px;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
/*}*/
/*.list footer {*/
    /*line-height: 36px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
    /*color: #888;*/
/*}*/
/*.list ul {*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*max-height: calc(100% - 36px - 36px);*/
    /*overflow-y: auto;*/

/*}*/

/*.list ul li {*/
    /*background-color: #fff;*/
    /*!*  background-image: linear-gradient(-1deg, rgba(255,255,115,0.84) 0%, rgba(216,214,20,0.84) 72%); *!*/
    /*padding: 10px;*/
    /*border-radius: 3px;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
/*}*/
/*.list ul li:not(:last-child) {*/
    /*margin-bottom: 10px;*/
/*}*/
/*.list ul li img {*/
    /*display: block;*/
    /*width: calc(100% + 2 * 10px);*/
    /*margin: -10px 0 10px -10px;*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
/*}*/

/*.table {*/
    /*display: table;   !* Allow the centering to work *!*/
    /*margin: 0 auto;*/
/*}*/


/*.card-subject {*/
    /*position: absolute;*/
    /*float: left;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

/*}*/

/*.card-source*/
/*{*/
    /*width: 30px;*/
    /*right: 5%;*/
    /*position: absolute;*/
    /*bottom: 2%;*/
    /*width: 25px !important;*/
/*}*/

/*.card-flip{*/
    /*position: absolute;*/
    /*bottom: 5%;*/
/*}*/


/*.horizontal-list {*/
    /*min-height: 42px;*/
    /*padding-left: 0px;*/
/*}*/
/*.main-parts{*/
    /*background-color: #fff;*/
    /*border: 1px solid #ddd;*/
    /*border-top-right-radius: 4px;*/
    /*border-top-left-radius: 4px;*/
    /*display: block;*/
    /*padding: 10px 15px;*/
    /*margin-bottom: -1px;*/
/*}*/
/* jhipster-needle-css-add-main JHipster will add new css style */

ul.mainlist, ul.mainlist ul {
    padding-left:20px;
    list-style-type:none;
    overflow:hidden;
}
ul.mainlist li, ul.horizontallist {
    display:inline-block;
    vertical-align:top;
    align-content:center;
    overflow-y:scroll;
    height: 720px;
    padding: 5px

}
ul.firstlist li {
    padding:0;
    width: 350px;
    min-width: 350px;
    height: 200px;
    min-height: 200px;
    display: block;
    margin-bottom: 15px;
    border: 2px solid #757575;
    border-radius: 10px;
}

ul.secondlist ul {
    padding:20px;
}

ul.secondlist li {

    width: 550px;
    height: 450px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 2px solid #888888;
    border-radius: 8px;
    display: block;
    padding: 10px 15px;
}

.urgent {
    width: 550px;
    height: 450px;
    margin-bottom: 15px;
    background-color: #f7bdb3;
    border: 2px solid #88393b;
    border-radius: 8px;
    display: block;
    padding: 10px 15px;
}

.center-text {
    text-align:center;
    padding-top:35px;
    position:relative;
    padding-right:5px;
}

#DONE{
    top: 0;
    width:100px;
    right:0;
    height: 1000px;
    bottom: 0;
    background-image: url("https://i.ebayimg.com/images/g/aMcAAOxy0QtR8bJQ/s-l1600.jpg");
    background-repeat: repeat-y;
    position:absolute;
}


/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(125, 175, 123); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    font-size: 25px;
    background-color: #98d596;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 25%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer-basic-centered{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    z-index: 999;
    padding: 45px;
    margin-top: 10px;
}

.footer-basic-centered .footer-company-motto{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
}
